html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: $size-text;
  line-height: 1.5;
  color: $c-text;
  background-color: black;
 
}

header {
  position: relative; 
}



.title {
  color: $c-alt;
}

.title {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-size: 51px;
  color: white;
  padding-top: 100px;
  line-height: 1.6;
  margin-top: 0px;
  display: inline-block;
  text-align: center;
   
}

.title02{
   font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-size: 51px;
  color: white;
  padding-top: 100px;
  line-height: 1.6;
  margin-top: 0px;
  display: flex;
  text-align: center;
  justify-content: center;

}

.i-container {
  position: relative;
  display: inline-block;
}

h2, .h1-credit{
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-size: 25px;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px;
  line-height: 1.6;
}


.h2_projet{
  padding-top: 100px;
  padding-bottom:0px ;
  
}



.a_footer{
  text-align: center;
 
}

h3{
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px;
}



p{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0.8;
  margin-top: 25.6px;
  margin-bottom: 25.6px;
  
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;;
}

li{
  padding-bottom: 10px;
}

.li_nav{
  padding-bottom: 0px;
  display: inline;
}

a {
  color: #456b88 ;
  opacity: 0.8;
  text-decoration: none;
  font-size: 13px;
}

.a_style{
  color: black;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

.copyright{
  text-align: center;
}

.voirprojet{
  margin: 0;
  opacity: 1;
  margin-top: 10px;
  color: #456b88;
}

.voirprojet02{
  margin: 0;
  opacity: 1;
  margin-top: 10px;
  opacity: 0.8;
  display: flex;
  justify-content: flex-end;
  
}

.projet_h2{
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 0;
  color: white;
  font-family: "Boldonse", system-ui;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}




@media (min-width: 580px){
  .title{
      font-size: 61px;
  }

  h2, .h1-credit{
      font-size: 37px;
  }
  .a_style{
    font-size: 16px;
  }
 
}


@media (min-width: 800px){

  p{
    font-size: 18px;
    margin-top: 28.8px;
    margin-bottom: 28.8px;
   
}

.title{
  font-size: 75px;
}

.title02{
  font-size: 75px;
}

h2, .h1-credit{
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0;
}

.projet_h2{
  font-size: 50px;
}


h3{
  font-size: 28px;
}

a{
  font-size: 16px;
}

.a_style{
  font-size: 18px;
}

}

@media (min-width: 1200px){

  p{
    font-size: 20px;
   
}



.title{
  font-size: 86px;
}

.title02{
  font-size: 86px;
}

h2,.h1-credit {
  font-size: 72px;
}

.h2_projet{
  padding-bottom:103px ;
  
}

.projet_h2{
  font-size: 72px;
}

h3{
  font-size: 41px;
}

a{
  font-size: 18px;
}


.a_style{
  font-size: 20px;
}
}