@import 'utils/variables';
@import 'components/type';



.lune{
    position: absolute;
    max-width: 400%;
    left: -630px;
    top: -13%;
    z-index: -20;
}

.vecteur{
    position: absolute;
    z-index: -10;
    top: 0;
}

