@import 'utils/variables';
@import 'components/type';

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.grid > * {
    grid-column: 1 / -1;
}


.tgridend{
    grid-column: 1/5;
}

/* Images */

.lune-container {
    position: absolute;
    width: 400vw;
    overflow: hidden;
    height: auto; 
    z-index: -20;
    margin-left: -50vw;
    margin-right: -50vw;
   
}

.lune {
    width: 100%; 
    position: relative;
    left: -25%;   
    top: -200px;
}



.vecteur-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -10;
    top: 0;
}

.vecteur {
    position: relative;
    width: 100%;    
    height: auto;  
    top: 0;
    left: 0;
}

.berserk{
    position: absolute;
    z-index: -10;
    left: 200px;
    top: 40%;
}

.nuageAnime{
    position: absolute;
    z-index: -10;
    top: 61%;
    scale: 0.5;
    left: 131px;
}


.PruxImg{
    width: 100%;
    padding-top: 100px; 
    overflow: hidden;
    height: auto; 
    margin-left: -20vw;
}


.dataplayImg{
    width: 100%;
    padding-top: 100px; 
    overflow: hidden;
    height: auto; 
    margin-right: 100vw;
    
}

/* Code-Pen */

.menu-wrapper {
    width: 100%;
   
    position: relative;
  }
  
  .menu-content {
    display: flex;
    width: max-content;
    animation: scroll-left 20s linear infinite;
    
  }
  
  .menu-content span {
    white-space: nowrap;
    color: white;
    
  }
  
  .menu-content:hover {
    animation-play-state: paused; /* Ici tu stop le texte au passage de la souris */
    
}

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }