/* Images */


.lune-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%; 
    z-index: -20;
    margin-top: -2vw;
   
   
}
.lune {
     width: 100%;         /* l'image prend toute la largeur du conteneur */
    height: 100%;        /* l'image prend toute la hauteur */
    object-fit: cover;   /* garde les proportions et couvre le conteneur */
    display: block; 
  }


  .stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  z-index: -1; 
  background-image: url('../assets/images/Janus/Stars.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}





.PruxImg{
    width: 100%;
    padding-top: 20px; 
    overflow: hidden;
    height: auto; 
    margin-left: -20vw;
}


.dataplayImg {
  width: 100%;
  padding-top: 20px;
  overflow: hidden;
  height: auto;
  margin-left: 20vw; 
}

.DesignF{
  width: 100%;
  padding-top: 20px; 
  overflow: hidden;
  height: auto; 
  margin-left: -20vw;
}

.fleche{
  padding-top: 10px;
  width:auto;
 
}

/* IMAGE ZOOM aider d'une IA*/

.projectImg {
  overflow: hidden; 
  display: inline-block; 
}

.transImg {
  width: 100%;
  transition: transform 0.5s ease-in-out;
   
}

.transImg:hover {
  transform: scale(1.1); 
}

.social-icon {
  width: auto;
    }
